.head-img-sourdough img {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin: 0 auto 12px auto;
    display: block;
    object-fit: contain;
}

.slider-page-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #013baf;
    text-align:center;
    margin-bottom: 0;
}

.slider-page-bottom-image {
    width: 180%;
    max-width: 1000px;
    height: auto;
    object-fit: contain;
}

.slider-page-number {
    font-size: 0.9rem;
    color: #999;
    margin-top: 10px;
    text-align: center;
}

.align-content-center{
    display: flex;
    justify-content: center;
}

@media(max-width: 768px) {
    .head-img-sourdough img {
        max-height:125px;
        margin: 0 auto 10px auto;
        display: block;
    }
}
