/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html, body {
    font-family: 'Amatic SC', cursive;
    background: #fff5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body, html, .container {
    overflow-x: hidden;
}

header img {
    width: 30%;
    vertical-align: middle;
    align-content: center;
}

header h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.container {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 90vw;
    width: 100%;
    position: relative;
    padding: 20px;
    margin: 20px 0;
    overflow-x: hidden;
    height: auto;
    min-height: auto;
}

.form-content {
    width: 90%;
    max-height: none;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
    font-weight: 700;
    color: #444;
}

.form-img {
    max-height: 200px;
    width: auto;
    display: block;
    margin-bottom: 10px;

}

.form-img img {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-height: none;

    }

    .form-img img {
        max-height: 250px;
        width: auto;
    }


    .form-content {
        margin-top: 15px;
    }

    .button-group {
        flex-direction: column;
        align-items: center;
    }

    .button-group button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.container h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    color: #333;
    margin-top: 0;
    text-transform: uppercase;
}

.input-group {
    margin-bottom: 15px;
    position: relative;}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: x-large;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: larger;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.input-group i {
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    cursor: pointer;
}

.question-mark {
    display: inline-block;
    background-color: #ff6f61;
    color: white;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-family: 'Amatic SC Regular', cursive;
    cursor: pointer;
    position: absolute;
    top: 47px;
    right: -39px;
}

.custom-tooltip {
    text-align: center;
    z-index: 1;
    top: -35px;
    right: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 15px;
    max-width: 200px;
    white-space: normal;
    position: relative;
    word-wrap: break-word;
    font-family: 'Amatic SC Regular', cursive;
}

.error {
    color: red;
    display: none;
    margin-top: 5px;
}

button {
    background: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff6f61 0%, #ffccbc 100%);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}

button:hover {
    background: linear-gradient(135deg, #ff5a4d 0%, #ffab91 100%);}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.reset-btn {
    background: linear-gradient(135deg, #ffab91 0%, #ff6f61 100%);
}

.reset-btn:hover {
    background: linear-gradient(135deg, #ff6f61 0%, #ff5a4d 100%);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.button-group button {
    width: 45%;
}


